.home {
    text-align: center;
}

.rp-page {
    box-shadow: 1px 2px 10px #000000;
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: indianred;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: lightgray;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: lightgray;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: none;
}

form {
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 50px;
}

.form-control{
    min-width: 75px;
}

.message-list {
    min-width: 75px;
    margin-left: 140px;
    margin-right: 140px;
    list-style: none;
    text-align: left;
    color: slategrey;
}

.drawing-area {
    text-align: center;
}

.roll-succes {
    color: forestgreen;
    font-size: 22px;
}

.roll-failure {
    color: red;
    font-size: 18px;
}

.roll-user {
    font-size: 20px;
    margin-bottom: 10px;
}

.dice-input-field {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    min-width: 75px;
    color: white;
    background-color: indianred;
    border: none;
}

    .btn-primary:hover {
        color:black;
        background-color: lightgray;
    }

.btn-reset {
    min-width: 75px;
    color: white;
    background-color: dimgray;
    border: none;
}

    .btn-reset:hover {
        color: black;
        background-color: lightgray;
    }

h1 {
    font-size: 36px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-y: scroll;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
