form {
    margin-bottom: 50px;
}

.form-tabs-drawing {
    text-align: center;
}

.form-control {
    min-width: 75px;
}

.dice-input-field {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}