@import '../base/typography';

header {
    @include themify($themes) {
        background-color: themed('backgroundColor');  
    }
}

h1 {
    font-size: 36px;
    font-family: $headerFontFamily;
    text-align: center;
}

h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}