body {  
    @include themify($themes) {
        color: themed('textColor');
        background-color: themed('backgroundColor');
    }
    margin-bottom: 60px; 
    overflow-y: scroll; 
}

main {
    padding-bottom: 50px;
}