header {
    @include themify($themes) {
        color: themed('textColor');
        background-color: themed('elementsBackgroundColor');
    }
}

.session-info {
    @include themify($themes) {
        color: themed('textColor');
    }
    margin-left: 30px;
    margin-right: 30px;
}