@import '../themes/theme';

.tab {
    overflow: hidden;
    background-color: $primaryColor;
}

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        .tab button:hover {
            background-color: lightgray;
        }

        .tab button.active {
            background-color: lightgray;
        }

.tabcontent {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: none;
}
