@import '../themes/theme';

.btn-primary {
    @include themify($themes) {
        background-color: themed('primaryColor');  
    }
    min-width: 75px;
    color: white;
    border: none;
}

    .btn-primary:hover {
        color: black;
        background-color: lightgray;
    }

.btn-reset {
    min-width: 75px;
    color: white;
    background-color: dimgray;
    border: none;
}

    .btn-reset:hover {
        color: black;
        background-color: lightgray;
    }

.btn-canvas {
    min-width: 30px;
    min-height: 30px;
}

    .btn-canvas:focus {
        border: solid 2px;
    }