@import '../themes/theme';

.btn-main {
    @include themify($themes) {
        color: themed('primaryContrastColor');
        background-color: themed('primaryColor');  
    }
    min-width: 75px;
    border: none;
    font-size: 20px;
}

    .btn-main:hover {
        @include themify($themes) {
            background-color: themed('secondaryColor');  
        }
        color: black;
    }

.btn-reset {
    min-width: 75px;
    color: white;
    background-color: dimgray;
    border: none;    
    font-size: 20px;
}

    .btn-reset:hover {
        @include themify($themes) {
            background-color: themed('secondaryColor');  
        }
        color: black;
    }

.btn-canvas {
    min-width: 30px;
    min-height: 30px;
}

    .btn-canvas:focus {
        border: solid 2px;
    }