.roll-user {
    font-size: 20px;
    margin-bottom: 10px;
}

.roll-succes {
    @include themify($themes) {
        color: themed('successColor');
    }
    font-size: 22px;
}

.roll-failure {
    @include themify($themes) {
        color: themed('failureColor');
    }
    font-size: 18px;
}