.navbar-light .navbar-nav .nav-link {
    @include themify($themes) {
        color: themed('primaryColor'); 
    }
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    @include themify($themes) {
        color: themed('secondaryColor'); 
    }
}

.navbar-brand {
    @include themify($themes) {
        color: themed('primaryColor');  
    }
    font-size: 36px;
    font-family: $logoFont;
}

.navbar-brand:hover {
    @include themify($themes) {
        color: themed('secondaryColor'); 
    }
}