@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Oleo Script", cursive;
}

.theme-light h1 {
  color: #000000;
}

.theme-dark h1 {
  color: #FFFFFF;
}

.theme-light hr {
  color: #708090;
}

.theme-dark hr {
  color: #FFDF83;
}

.btn-main {
  min-width: 75px;
  border: none;
  font-size: 20px;
}

.theme-light .btn-main {
  color: #000000;
  background-color: #cd5c5c;
}

.theme-dark .btn-main {
  color: #000000;
  background-color: #FFBB04;
}

.btn-main:hover {
  color: black;
}

.theme-light .btn-main:hover {
  background-color: #708090;
}

.theme-dark .btn-main:hover {
  background-color: #FFDF83;
}

.btn-reset {
  min-width: 75px;
  color: white;
  background-color: dimgray;
  border: none;
  font-size: 20px;
}

.btn-reset:hover {
  color: black;
}

.theme-light .btn-reset:hover {
  background-color: #708090;
}

.theme-dark .btn-reset:hover {
  background-color: #FFDF83;
}

.btn-canvas {
  min-width: 30px;
  min-height: 30px;
}

.btn-canvas:focus {
  border: solid 2px;
}

#canvas {
  background-color: white;
  border: solid 2px;
  width: 100%;
  height: 600px;
}

.roll-user {
  font-size: 20px;
  margin-bottom: 10px;
}

.roll-succes {
  color: #21FF13;
  font-size: 22px;
}

.roll-failure {
  color: #FF1313;
  font-size: 18px;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Oleo Script", cursive;
}

.theme-light h1 {
  color: #000000;
}

.theme-dark h1 {
  color: #FFFFFF;
}

.theme-light hr {
  color: #708090;
}

.theme-dark hr {
  color: #FFDF83;
}

.tab-container {
  -webkit-box-shadow: 1px 2px 10px #000000;
          box-shadow: 1px 2px 10px #000000;
}

.theme-light .tab-container {
  color: #000000;
  background-color: #DCDCDC;
}

.theme-dark .tab-container {
  color: #FFFFFF;
  background-color: #252525;
}

.tab {
  overflow: hidden;
}

.theme-light .tab {
  background-color: #cd5c5c;
}

.theme-dark .tab {
  background-color: #FFBB04;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
}

.theme-light .tab button:hover {
  color: #000000;
  background-color: #DCDCDC;
}

.theme-dark .tab button:hover {
  color: #FFFFFF;
  background-color: #252525;
}

.theme-light .tab button.active {
  color: #708090;
  background-color: #DCDCDC;
}

.theme-dark .tab button.active {
  color: #FFDF83;
  background-color: #252525;
}

.tabcontent {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: none;
}

.tab-interaction {
  min-width: 75px;
  padding: 0px;
}

.theme-light .tab-interaction {
  color: #708090;
}

.theme-dark .tab-interaction {
  color: #FFDF83;
}

.tab-interaction li {
  list-style: none;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .tab-interaction {
    margin-left: 195px;
    margin-right: 195px;
  }
}

@media only screen and (max-width: 768px) {
  .tab-interaction {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.theme-light .navbar-light .navbar-nav .nav-link {
  color: #cd5c5c;
}

.theme-dark .navbar-light .navbar-nav .nav-link {
  color: #FFBB04;
}

.theme-light .navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #708090;
}

.theme-dark .navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #FFDF83;
}

.navbar-brand {
  font-size: 36px;
  font-family: "Lobster", cursive;
}

.theme-light .navbar-brand {
  color: #cd5c5c;
}

.theme-dark .navbar-brand {
  color: #FFBB04;
}

.theme-light .navbar-brand:hover {
  color: #708090;
}

.theme-dark .navbar-brand:hover {
  color: #FFDF83;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-y: scroll;
}

.theme-light body {
  color: #000000;
  background-color: #DCDCDC;
}

.theme-dark body {
  color: #FFFFFF;
  background-color: #141414;
}

main {
  padding-bottom: 50px;
}

.theme-light header {
  color: #000000;
  background-color: #DCDCDC;
}

.theme-dark header {
  color: #FFFFFF;
  background-color: #252525;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.theme-light footer {
  background-color: #DCDCDC;
}

.theme-dark footer {
  background-color: #252525;
}

form {
  margin-top: 30px;
  margin-bottom: 50px;
}

.form-center {
  text-align: center;
}

.form-control {
  min-width: 75px;
}

.dice-input-field {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Oleo Script", cursive;
}

.theme-light h1 {
  color: #000000;
}

.theme-dark h1 {
  color: #FFFFFF;
}

.theme-light hr {
  color: #708090;
}

.theme-dark hr {
  color: #FFDF83;
}
/*# sourceMappingURL=main.css.map */