$themes: (
    light: (
      backgroundColor: #ffffff,
      textColor: #000000,
      elementsBackgroundColor: #fff7e6,
      primaryColor: #cd5c5c,      
      primaryContrastColor: #ffffff,
      secondaryColor: #708090,
      switchColor: #FFBB04,
      successColor: #01A20B,
      failureColor: #FF1313
    ),
    dark: (
      backgroundColor: #141414,    
      textColor: #FFFFFF,
      elementsBackgroundColor: #252525,
      primaryColor: #FFBB04,
      primaryContrastColor: #000000,
      secondaryColor: #FFDF83,
      switchColor: #FFBB04,      
      successColor: #71F979,
      failureColor: #FF3636
    ),
  );