<h2>Draw with your party</h2>

<form class="form-tabs-drawing">
    <a id="download-canvas" download="D6Roleplayer-canvas.png">
        <button type="button" class="btn btn-primary" onClick="downloadCanvas()">Download drawing</button>
    </a>
    <button type="submit" class="btn btn-primary" id="syncDrawing">Push drawing to everyone</button>
    <button type="submit" class="btn btn-reset" id="resetDrawing">Reset drawing for everyone</button>
</form>

<hr />
<div class="tab-interaction">
    <button class="btn-canvas" style="background:#000000;" onclick="selectColor('#000000')"></button>
    <button class="btn-canvas" style="background:#ffffff;" onclick="selectColor('#ffffff')"></button>
    <button class="btn-canvas" style="background:#4b4b4b;" onclick="selectColor('#4b4b4b')"></button>
    <button class="btn-canvas" style="background:#3366ff;" onclick="selectColor('#3366ff')"></button>
    <button class="btn-canvas" style="background:#66ffff;" onclick="selectColor('#66ffff')"></button>
    <button class="btn-canvas" style="background:#30ff59;" onclick="selectColor('#30ff59')"></button>
    <button class="btn-canvas" style="background:#fffb00;" onclick="selectColor('#fffb00')"></button>
    <button class="btn-canvas" style="background:#ff0000;" onclick="selectColor('#ff0000')"></button>
    <button class="btn-canvas" style="background:#ff6619;" onclick="selectColor('#ff6619')"></button>
    <button class="btn-canvas" style="background:#964B00;" onclick="selectColor('#964B00')"></button>
    <button class="btn-canvas" style="background:#ff9378;" onclick="selectColor('#ff9378')"></button>
    <button class="btn-canvas" style="background:#ff40df;" onclick="selectColor('#ff40df')"></button>

    <div id="canvasDiv">
    </div>   
</div>