@model D6Roleplayer.Models.DiceRollsViewModel

<div class="tab-container">
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'dice')">Dice rolling</button>
        <button class="tablinks" onclick="openTab(event, 'initiative')">Initiative</button>
        <button class="tablinks" onclick="openTab(event, 'draw')">Drawing</button>
    </div>

    <div id="dice" class="tabcontent">
        <partial name="_DiceRoll" model="@Model">
    </div>

    <div id="initiative" class="tabcontent">
        <partial name="_Initiative" model="@Model">
    </div>
    <div id="draw" class="tabcontent">
        <partial name="_Drawing">
    </div>
</div>

<script src="~/js/roleplay-session.min.js" asp-append-version="true"></script>