<div class="drawing-area">
    <h2>Draw with your party</h2>
    <p>
        <i>Tip: Wait for everybody to join the session before starting!</i>
    </p>
    <form>
        <div style="text-align:center;">
            <button type="submit" class="btn btn-primary" id="syncDrawing">Push drawing to everyone</button>
            <button type="submit" class="btn btn-reset" id="resetDrawing">Reset drawing for everyone</button>
        </div>
    </form>
    <hr />
    <button onclick="selectColor('#000000')">Black</button>
    <button onclick="selectColor('#ff0000')">Red</button>
    <div id="canvasDiv">
    </div>
</div>