@model d6roleplayer.Models.HomeViewModel

<div class="home">
    <p>Create your own roleplay session and share the link with your party!</p>
    <form method="post" action="@Url.Action("Index", "RoleplaySession")">
        <input type="hidden" name="sessionId" value="@Model.RoleplaySessionId" />
        <input type="hidden" name="create" value="true" />
        <input type="submit" value="Create a roleplay session" class="btn btn-primary">
    </form>
</div>